# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BeastTribes.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\domes\Documents\Backupstuff\Reborn - Magitech\BotBases\BeastTribes\.idea\.idea.BeastTribes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
